<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rubychina.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:debuggable="false"
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TopicTabActivity"
            android:label="@string/view_topic">
        </activity>
        <activity
            android:name=".ui.PreferenceActivity"
            android:label="@string/action_settings">
        </activity>
        <activity
            android:name=".ui.NotificationActivity"
            android:label="@string/notification">
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/user_home">
        </activity>
        <activity
            android:name=".ui.PreviewActivity"
            android:label="@string/preview">
        </activity>
        <activity
            android:name=".ui.NewTopicActivity"
            android:label="@string/new_topic">
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <service android:name=".helper.WebSocketService" />
    </application>

</manifest>
